<% include _partials/header %>

<a class="btn btn-success" href="/cart/show">Mostrar pedido</a>

<div class="gallery-section">
    <div class="inner-width">
      <div class="border"></div>
      <div class="gallery">

        <a href="/products?name=1"><img src="/images/01.jpg"></a>
        <a href="/products?name=2"><img src="/images/02.jpg"></a>
        <a href="/products?name=3"><img src="/images/03.jpg"></a>
        <a href="/products?name=4"><img src="/images/04.jpg"></a>
        <a href="/products?name=5"><img src="/images/05.jpg"></a>
        <a href="/products?name=6"><img src="/images/06.jpg"></a>
        <a href="/products?name=7"><img src="/images/07.jpg"></a>
        <a href="/products?name=8"><img src="/images/08.jpg"></a>

      </div>
    </div>
</div>

<% include _partials/footer %>
