<% include _partials/header %>

<a class="btn btn-success" href="/cart/show">mostrar carro</a>

<center>
	<be>
	<h1> <%= title %> </h1>
	<h3> <%= message %> </h3>
</center>

<% include _partials/footer %>