<div class='form-container' style='float:right;margin : 10px;'>
	<form action = "place-order">
		<input type='text' required placeholder='Your Name' name='name' style='border-radius:3px;padding:5px;border:1px solid lightgrey;height:40px'>
		<input type='number' required placeholder='Table No.' name='table' style='border-radius:3px;padding:5px;border:1px solid lightgrey;height:40px'>
		<label style='font-weight:bold; margin-right:15px;'>Pago</label>
		<label style='margin-left:10px'><input type="radio" value = '0' checked name="payment_type"><span style='margin-left:5px'>Efectivo</span></label>
		<label><input type="radio" name="payment_type" value='1'><span style='margin-left:5px'>Tarjeta</span></label>
		<input type='submit' value='Order' class='btn btn-success' style='vertical-align:top;margin:0px;margin-left : 10px;'>
	</form>
</div>