<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/javascripts/datatables.min.js"></script>
<script>
    $(document).ready( function () {
        $('#myCart').DataTable();
    } );
</script>
</body>
</html>
